/.clang-format
/.vimrc
/.vscode
/.vscode.zip
/0.cpp
/0000
/000cinfast.cpp
/00bignum.cpp
/00ipt+.cpp
/00ipt.cpp
/00ipt2.cpp
/00ipt3.cpp
/00ipt3bigtosmall.cpp
/00ipt4.cpp
/00ipt4.exe
/0char.cpp
/0char.exe
/0coumt.cpp
/0counting.cpp
/0pbds
/0sadfjhdsafbhg.cpp
/0sudoku___rand.cpp
/20.cpp
/20220625_154032.jpg
/4colors
/777.cpp
/a.out
/a227
/abc
/apcs
/c462
/cf
/cg
/cms-real
/cmsAC
/codeblock
/coding.code-workspace
/cses
/d732
/desktop.ini
/e287
/e528.cpp
/e540
/h033.cpp
/h034.cpp
/ifpr.cpp
/im
/iscoj
/iscoj.cpp
/Lee
/mergesort.cpp
/n
/oddsdf.cpp
/other
/output
/output.txt
/PBDS
/pbds.cpp
/pbds.out
/prime
/rand.cpp
/RemoveExe.bat
/sound.cpp
/sudoku
/t.cpp
/t1.cpp
/t10.cpp
/t11.cpp
/t12.cpp
/t13.cpp
/t2.cpp
/t3.cpp
/t4.cpp
/t5.cpp
/t6.cpp
/t7.cpp
/t8.cpp
/t9.cpp
/test0.cpp
/testbit.cpp
/test_vector.cpp
/test____sudoku.cpp
/toij
/Untitled-1.txt
/新文件3.cpp
/評估開方.cpp